fastapi
uvicorn[standard]
apscheduler
python-dotenv
requests
feedparser
trafilatura
langchain-core
langchain-groq
langchain-huggingface
langchain-chroma
sentence-transformers
pytz
langchain-agent
langchain-community
langgraph
ddgs
